@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto:900');
.header{
	margin: 0px;
	padding-top: 4em;
	color: #3a3a3a;
	background-color: #81ef91;
	padding-bottom: 8em;
}
.header h1{
	font-family: 'Patua One', cursive;
	font-size: 4em;
}
.header h2{
	color: #515151;
}
body{
	margin: 0px;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}
.btn {
  background: #55d934;
  background-image: -webkit-linear-gradient(top, #55d934, #22ab24);
  background-image: -moz-linear-gradient(top, #55d934, #22ab24);
  background-image: -ms-linear-gradient(top, #55d934, #22ab24);
  background-image: -o-linear-gradient(top, #55d934, #22ab24);
  background-image: linear-gradient(to bottom, #55d934, #22ab24);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc43;
  background-image: -webkit-linear-gradient(top, #3cfc43, #34d94d);
  background-image: -moz-linear-gradient(top, #3cfc43, #34d94d);
  background-image: -ms-linear-gradient(top, #3cfc43, #34d94d);
  background-image: -o-linear-gradient(top, #3cfc43, #34d94d);
  background-image: linear-gradient(to bottom, #3cfc43, #34d94d);
  text-decoration: none;
  cursor: pointer; cursor: hand;
}